[submodule "utils"]
	path = utils
	url = https://github.com/GeneralElectric/dcosb-utils.git
	branch = master
[submodule "mesos-utils"]
	path = mesos-utils
	url = https://github.com/GeneralElectric/dcosb-mesos-utils.git
	branch = master
[submodule "service-module-api"]
	path = service-module-api
	url = https://github.com/GeneralElectric/dcosb-service-module-api.git
	branch = master
[submodule "service-broker"]
	path = service-broker
	url = https://github.com/GeneralElectric/dcosb-service-broker.git
	branch = master
[submodule "dcos-utils"]
	path = dcos-utils
	url = https://github.com/GeneralElectric/dcosb-dcos-utils.git
	branch = master
